:root {
  font-family: outfit;
  background-color: #fffcf7;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media screen and (max-width: 480px) {
  .select__control {
    width: max-content;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
